{% extends 'sitePerso/base.html' %}
{% block content %}
    <h1>Commentaire du poste {{post.title}}</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {% for score in "12345"%}
            <input type="radio" name="note" id="{{ forloop.counter }}" value={{score}}>
            <label for="score{{forloop.counter}}">{{score}} étoile</label><br>
        {% endfor %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Send</button>
    </form>
{% endblock %}
